<h1 class="mt-4">Beneficios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente: </label>
                    <select class="form-control" 
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="beneficios.idCliente">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clients" 
                                [ngValue]="cliente.id">
                            {{ cliente.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição: </label>
                    <input class="form-control" 
                          [(ngModel)]="beneficios.descricao" type="text" 
                          name="descricao" id="inputDescricao">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data: </label>
                    <input class="form-control" 
                          [(ngModel)]="beneficios.data" type="date" 
                          name="data" id="inputData">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>