<router-outlet></router-outlet>
<body>
    <div>
      <header>
        <div class="search">
          <img
            class="img-logo"
            src="https://demo.clubevantagens.com.br/wp-content/themes/cvantagens-child/images/logofooter.svg"
          />
          <input class="search-text" type="text" placeholder="Ex: cinema" />
          <svg
            class="svg-search"
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 512 512"
          >
            <path
              d="M460.475 408.443L351.4 299.37c15.95-25.137 25.2-54.923 25.2-86.833C376.6 122.914 303.687 50 214.062 50 124.44 50 51.525 122.914 51.525 212.537s72.914 162.537 162.537 162.537c30.326 0 58.733-8.356 83.055-22.876L406.917 462l53.558-53.557zM112.117 212.537c0-56.213 45.732-101.946 101.945-101.946 56.213 0 101.947 45.734 101.947 101.947S270.275 314.482 214.06 314.482c-56.213 0-101.945-45.732-101.945-101.945z"
            ></path>
          </svg>
          <div class="pull-right">
            <a class="btn btn-primary"> Entrar </a>
            <a class="btn-entrar"> Cadastrar </a>
          </div>
        </div>
      </header>
      <section>
        <div class="category">
          <ul class="menu-categories">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
            <li>A</li>
            <li>A</li>
            <li>A</li>
          </ul>
        </div>
      </section>
    </div>
  </body>