<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}   
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                    {{ mensagemErro }}
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()" >
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead> 
                    <tr>
                        <th>ID</th>
                        <th>Razao</th>
                        <th>Fantasia</th>
                        <th>CNPJ</th>
                        <th>Celular</th>
                        <th>Endereco</th>
                        <th>CEP</th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clients">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.razao }}</td>
                        <td>{{ cliente.fantasia }}</td>
                        <td>{{ cliente.cnpj }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>{{ cliente.endereco }}</td>
                        <td>{{ cliente.cep }}</td>
                        <!-- <td>{{ cliente.endereco }}</td>
                        <td>{{ cliente.numero }}</td>
                        <td>{{ cliente.bairro }}</td>
                        <td>{{ cliente.cidade }}</td>
                        <td>{{ cliente.uf }}</td>
                        <td>{{ cliente.complemento }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>{{ cliente.telefone }}</td> -->
                        <td>
                            <button class="btn btn-primary" 
                                    routerLink="/clientes/form/{{ cliente.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="preparaDelecao(cliente)"
                                    data-toggle="modal" data-target="#modaldelecao" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="clienteSelecionado">
                    Confirma a deleção do(a) {{ clienteSelecionado.name }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            (click)="deletarCliente()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>