<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro' }}</li>
</ol>

<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" >
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente salvo/atualziado com sucesso!   
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Razao Social: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.razao" name="razao" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome Fantasia: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.fantasia" name="fantasia" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>CNPJ: *</label>
                    <input type="text" class="form-control" placeholder="00.000.000/0000-00" mask="00.000.000/0000-00"
                    [(ngModel)]="cliente.cnpj" name="cnpj"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>E-mail: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.email" name="email"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>E-mail Financeiro: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.efinanceiro" name="efinanceiro"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CEP: *</label>
                    <input type="text" class="form-control" placeholder="63700-000" mask="00000-000"
                    [(ngModel)]="cliente.cep" name="cep"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Endereço: </label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.endereco" name="endereco"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Numero: *</label>
                    <input type="text" class="form-control" mask="00000"
                    [(ngModel)]="cliente.numero" name="numero"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Bairro *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.bairro" name="bairro"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Cidade: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.cidade" name="cidade"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>UF: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.uf" name="uf"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Complemento: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.complemento" name="complemento"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Celular: *</label>
                    <input type="text" class="form-control" placeholder="(88) 99999-9999" mask="(00) 00000-0000"
                    [(ngModel)]="cliente.celular" name="celular"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Telefone: *</label>
                    <input type="text" class="form-control" placeholder="(88) 99999-9999" mask="(00) 00000-0000"
                    [(ngModel)]="cliente.telefone" name="telefone"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-dark" *ngIf="!cliente.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>